.mdl-grid
{
  margin-top: 0px;
  margin-left: auto;
}

.demo-card-wide mdl-card mdl-shadow--2dp
{
  margin-left: 25px;
}

h1,h3
{
  text-align: center;
}
/*
#global {
  margin-left: auto;
  margin-right: auto;
  width: ...; /* largeur obligatoire pour être centré
}
*/



.mdl-layout__content {
    text-align: center;
}

.mdl-card__title-text {
  padding-left:10px;
}

.mdl-grid {
  margin-left:170px;
}